# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/

*$py.class
*.meta
*.gif
*.cptk.*
*.index
# C extensions
*.so
*.local
*.gif

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

.gitignore
.idea/
agent.pyc
checkpoint
checkpoints-36000
checkpoints-36000.meta
checkpoints-36600
checkpoints-36600.meta
checkpoints-37200
checkpoints-37200.meta
checkpoints-37800
checkpoints-37800.meta
checkpoints-38400
checkpoints-38400.meta
checkpoints/
config.pyc
dqn/
network.pyc
summaries/
.DS_Store
meta/De/
meta/Di/
meta/Dm/
meta/Drest/
meta/Du/
meta/resources/11arms.png
meta/resources/11arms.psd
meta/results/
frames_test/
good_resume/
models/model-2000.cptk-2000.data-00000-of-00001
models/model-2500.cptk-2500.data-00000-of-00001
models/model-3000.cptk-3000.data-00000-of-00001
models/model-3500.cptk-3500.data-00000-of-00001
models/model-4000.cptk-4000.data-00000-of-00001
nohup.out
promising_D2_1e-3/
promising_De_1e-2/
promising_De_1e-4/
promising_De_1e-5/
resources/11arm.psd
